name: Release CLI

on:
  push:
    branches:
      - release # Change to your default branch

permissions:
  contents: write

jobs:
  build-and-upload-artifacts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout Main Branch Separately
        run: |
          git fetch origin main
          git checkout main

      - name: Read & Increment Version
        id: version
        run: |
          VERSION_FILE="VERSION"
          OLD_VERSION=$(cat $VERSION_FILE)

          # Extract major, minor, and patch versions
          MAJOR=$(echo $OLD_VERSION | cut -d. -f1)
          MINOR=$(echo $OLD_VERSION | cut -d. -f2)
          PATCH=$(echo $OLD_VERSION | cut -d. -f3)

          # Increment the patch version
          NEW_VERSION="$MAJOR.$MINOR.$(($PATCH + 1))"

          # Save new version back to VERSION file
          echo $NEW_VERSION > $VERSION_FILE
          echo "NEW_VERSION=$NEW_VERSION" >> $GITHUB_ENV

      - name: Commit Updated VERSION File
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add VERSION
          git commit -m "Bump version to $NEW_VERSION"
          git push

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"

      - name: Build CLI for All Platforms
        run: |
          make release

      - name: Create tarballs
        run: |
          tar -czvf vault-darwin-amd64.tar.gz vault-darwin-amd64
          tar -czvf vault-linux-amd64.tar.gz vault-linux-amd64
          tar -czvf vault-darwin-arm64.tar.gz vault-darwin-arm64
          tar -czvf vault-linux-arm64.tar.gz vault-linux-arm64
          tar -czvf vault-windows-amd64.tar.gz vault-windows-amd64.exe

      - name: Compute SHA256 checksums
        run: |
          sha256sum vault-*.tar.gz > checksums.txt
          cat checksums.txt

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "v${{ env.NEW_VERSION }}"
          name: "Release v${{ env.NEW_VERSION }}"
          generate_release_notes: true
          files: |
            vault-linux
            vault-darwin
            vault.exe
            vault-darwin-amd64.tar.gz
            vault-linux-amd64.tar.gz
            vault-darwin-arm64.tar.gz
            vault-linux-arm64.tar.gz
            vault-windows-amd64.tar.gz
            checksums.txt
          body: "New release of vault CLI"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  update-homebrew:
    needs: build-and-upload-artifacts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Homebrew Tap Repository
        uses: actions/checkout@v2
        with:
          repository: fagom/homebrew-vault
          token: ${{ secrets.HOMEBREW_TAP_TOKEN }}

      - name: Download the checksums from release
        run: |
          curl -L -o checksums.txt https://github.com/fagom/vault-cli/releases/latest/download/checksums.txt
          cat checksums.txt
          
      - name: Extract SHA256 checksums
        run: |
          export SHA256_DARWIN_AMD64=$(grep vault-darwin-amd64.tar.gz checksums.txt | awk '{ print $1 }')
          export SHA256_DARWIN_ARM64=$(grep vault-darwin-arm64.tar.gz checksums.txt | awk '{ print $1 }')
          export SHA256_LINUX_AMD64=$(grep vault-linux-amd64.tar.gz checksums.txt | awk '{ print $1 }')
          export SHA256_LINUX_ARM64=$(grep vault-linux-arm64.tar.gz checksums.txt | awk '{ print $1 }')
          export NEW_VERSION=${GITHUB_REF#refs/tags/}
          echo "SHA256_DARWIN_AMD64=$SHA256_DARWIN_AMD64" >> $GITHUB_ENV
          echo "SHA256_DARWIN_ARM64=$SHA256_DARWIN_ARM64" >> $GITHUB_ENV
          echo "SHA256_LINUX_AMD64=$SHA256_LINUX_AMD64" >> $GITHUB_ENV
          echo "SHA256_LINUX_ARM64=$SHA256_LINUX_ARM64" >> $GITHUB_ENV
          echo "NEW_VERSION=$NEW_VERSION" >> $GITHUB_ENV

      - name: Update Homebrew Formula
        run: |
          sed -i "s|url .*darwin-amd64.tar.gz\"|url \"https://github.com/fagom/vault-cli/releases/download/${NEW_VERSION}/vault-darwin-amd64.tar.gz\"|g" Formula/vault.rb
          sed -i "s|url .*darwin-arm64.tar.gz\"|url \"https://github.com/fagom/vault-cli/releases/download/${NEW_VERSION}/vault-darwin-arm64.tar.gz\"|g" Formula/vault.rb
          sed -i "s|url .*linux-amd64.tar.gz\"|url \"https://github.com/fagom/vault-cli/releases/download/${NEW_VERSION}/vault-linux-amd64.tar.gz\"|g" Formula/vault.rb
          sed -i "s|url .*linux-arm64.tar.gz\"|url \"https://github.com/fagom/vault-cli/releases/download/${NEW_VERSION}/vault-linux-arm64.tar.gz\"|g" Formula/vault.rb

          sed -i "s|sha256 \"\"|sha256 \"${SHA256_DARWIN_AMD64}\"|1" Formula/vault.rb
          sed -i "s|sha256 \"\"|sha256 \"${SHA256_DARWIN_ARM64}\"|1" Formula/vault.rb
          sed -i "s|sha256 \"\"|sha256 \"${SHA256_LINUX_AMD64}\"|1" Formula/vault.rb
          sed -i "s|sha256 \"\"|sha256 \"${SHA256_LINUX_ARM64}\"|1" Formula/vault.rb

      - name: Commit and Push Changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add Formula/vault.rb
          git commit -m "Update vault formula to version ${NEW_VERSION}"
          git push origin main
